* {
  position: relative;
  padding: 0;
  margin: 0;
  display: flexbox;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.playbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choice {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  margin: 1px;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "물음표";
    animation: gelatine 0.5s infinite;
  }

  &.rock::before {
    content: "바위";
    animation-delay: 0.5s;
  }

  &.scissor::before {
    content: "가위";
    animation-delay: 1s;
  }

  &.paper::before {
    content: "보";
    // animation: bounce2 2s ease infinite;
  }
}

.game-result {
  &-win {
    background-color: green;
  }
  &-draw {
    background-color: blue;
  }
  &-lose {
    background-color: red;
  }
}

.user {
  display: flex;

  &.selected .choice {
    cursor: default;

    animation: noAnimate 0.5s infinite;
    transition: none !important;
  }

  & .choice {
    cursor: pointer;

    &:hover {
      background-color: aqua;
    }
  }
}

.control {
  display: flex;

  & input[type="button"] {
    width: 100px;
    height: 25px;
    margin: 5px;

    &[value="Replay"] {
      display: none;
    }
  }
}
.user.selected ~ .control input[type="button"][value="Replay"] {
  display: initial;
}

/*
* ============================= animate resources =============================
*/
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
